flow.json
[{"id":"6a135c6c.f27414","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15eb5540.3aa19b","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard"},{"id":"b235f2e7.3dec6","type":"ui_group","z":"","name":"Group 1","tab":"15eb5540.3aa19b","disp":true,"width":"6","collapse":false},{"id":"97da9fd6.c2ba6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"68a338b0.840748","type":"inject","z":"6a135c6c.f27414","name":"start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":100,"wires":[["f2deeebd.6ec6b"]]},{"id":"a61e3f85.891f2","type":"inject","z":"6a135c6c.f27414","name":"stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":180,"wires":[["f2deeebd.6ec6b"]]},{"id":"f2deeebd.6ec6b","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH0","device":"/dev/spidev0.0","mode":"0x80","interval":"100","x":280,"y":140,"wires":[["d7b3964a.d5b638"]]},{"id":"d7b3964a.d5b638","type":"ui_gauge","z":"6a135c6c.f27414","name":"","group":"b235f2e7.3dec6","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":180,"wires":[]}]