flow.json
[{"id":"6a135c6c.f27414","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15eb5540.3aa19b","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard"},{"id":"b235f2e7.3dec6","type":"ui_group","z":"","name":"Group 1","tab":"15eb5540.3aa19b","disp":true,"width":"6","collapse":false},{"id":"97da9fd6.c2ba6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4631a44.ca36e8","type":"ui_group","name":"Group 2","tab":"15eb5540.3aa19b","order":2,"disp":true,"width":6},{"id":"68a338b0.840748","type":"inject","z":"6a135c6c.f27414","name":"start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":340,"wires":[["f2deeebd.6ec6b","7fb4b4b.9eec24c","20ad24e.50ba9dc","746cfa46.fe3394","19dabbf8.758964","4428e43a.6cd00c","9ae751ea.27315","ae8ccdfc.b56f5"]]},{"id":"a61e3f85.891f2","type":"inject","z":"6a135c6c.f27414","name":"stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":440,"wires":[["f2deeebd.6ec6b","7fb4b4b.9eec24c","20ad24e.50ba9dc","746cfa46.fe3394","19dabbf8.758964","4428e43a.6cd00c","9ae751ea.27315","ae8ccdfc.b56f5"]]},{"id":"f2deeebd.6ec6b","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH0","device":"/dev/spidev0.0","mode":"0x80","interval":"100","x":280,"y":40,"wires":[["d7b3964a.d5b638","5250fd7.693dc04"]]},{"id":"d7b3964a.d5b638","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH0","group":"b235f2e7.3dec6","order":0,"width":0,"height":0,"gtype":"gage","title":"CH0","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":80,"wires":[]},{"id":"5250fd7.693dc04","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":40,"wires":[["6e08704c.8b96"],[]]},{"id":"6e08704c.8b96","type":"change","z":"6a135c6c.f27414","name":"/cue/1/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/1.0/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":40,"wires":[["a275bf19.b4e4b"]]},{"id":"a275bf19.b4e4b","type":"osc","z":"6a135c6c.f27414","name":"","path":"","metadata":false,"x":810,"y":380,"wires":[["9aea87e8.79aab8"]]},{"id":"9aea87e8.79aab8","type":"udp out","z":"6a135c6c.f27414","name":"qLab","addr":"10.81.95.117","iface":"","port":"53000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":950,"y":380,"wires":[]},{"id":"7fb4b4b.9eec24c","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH1","device":"/dev/spidev0.0","mode":"0x90","interval":"100","x":280,"y":140,"wires":[["26d21bfd.be4b44","8f027fc3.a040f"]]},{"id":"20ad24e.50ba9dc","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH2","device":"/dev/spidev0.0","mode":"0xA0","interval":"100","x":280,"y":240,"wires":[["c54964da.02eb58","f9f391de.50253"]]},{"id":"746cfa46.fe3394","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH3","device":"/dev/spidev0.0","mode":"0xB0","interval":"100","x":280,"y":340,"wires":[["ccd1965c.c73908","c18ea31d.981"]]},{"id":"19dabbf8.758964","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH4","device":"/dev/spidev0.0","mode":"0xC0","interval":"100","x":280,"y":440,"wires":[["c8aa1476.2ba0d8","68ced127.29e5f"]]},{"id":"4428e43a.6cd00c","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH5","device":"/dev/spidev0.0","mode":"0xD0","interval":"100","x":280,"y":540,"wires":[["2a06226f.3066de","48eff743.043b58"]]},{"id":"9ae751ea.27315","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH6","device":"/dev/spidev0.0","mode":"0xE0","interval":"100","x":280,"y":640,"wires":[["53e7b425.038cac","3ecd4747.c3d358"]]},{"id":"ae8ccdfc.b56f5","type":"mcp3008","z":"6a135c6c.f27414","name":"PiShield-CH7","device":"/dev/spidev0.0","mode":"0xF0","interval":"100","x":280,"y":740,"wires":[["aa70e36d.bb00f","41996f29.61e38"]]},{"id":"26d21bfd.be4b44","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":140,"wires":[["98a31661.a68f38"],[]]},{"id":"c54964da.02eb58","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":240,"wires":[["1d181b6.95dc9e5"],[]]},{"id":"ccd1965c.c73908","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":340,"wires":[["e6fd5a94.9c0f68"],[]]},{"id":"c8aa1476.2ba0d8","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":440,"wires":[["799811bb.1f1b1"],[]]},{"id":"2a06226f.3066de","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":540,"wires":[["88d97278.dae26"],[]]},{"id":"53e7b425.038cac","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":640,"wires":[["5037678a.480c28"],[]]},{"id":"aa70e36d.bb00f","type":"function","z":"6a135c6c.f27414","name":"IR","func":"// Determine the state of the sensor. 1 = motion\nvar state = (msg.payload < 100) ? 0 : 1;\n\n// Get the last state\nvar last = context.get('last')||0;\n\n// Only process changes in state\nif (state === last) {\n    return [ null, null ];\n}\n\n// Store the state for next time\ncontext.set('last',state);\n\n// Based on state, return output\nif (state === 1) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}","outputs":2,"noerr":0,"x":450,"y":740,"wires":[["4fb07fd0.73fea"],[]]},{"id":"8f027fc3.a040f","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH1","group":"b235f2e7.3dec6","order":0,"width":0,"height":0,"gtype":"gage","title":"CH1","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":180,"wires":[]},{"id":"f9f391de.50253","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH2","group":"b235f2e7.3dec6","order":0,"width":0,"height":0,"gtype":"gage","title":"CH2","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":280,"wires":[]},{"id":"c18ea31d.981","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH3","group":"b235f2e7.3dec6","order":0,"width":0,"height":0,"gtype":"gage","title":"CH3","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":380,"wires":[]},{"id":"68ced127.29e5f","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH4","group":"d4631a44.ca36e8","order":0,"width":0,"height":0,"gtype":"gage","title":"CH4","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":480,"wires":[]},{"id":"48eff743.043b58","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH5","group":"d4631a44.ca36e8","order":0,"width":0,"height":0,"gtype":"gage","title":"CH5","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":580,"wires":[]},{"id":"3ecd4747.c3d358","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH6","group":"d4631a44.ca36e8","order":0,"width":0,"height":0,"gtype":"gage","title":"CH6","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":680,"wires":[]},{"id":"41996f29.61e38","type":"ui_gauge","z":"6a135c6c.f27414","name":"CH7","group":"d4631a44.ca36e8","order":0,"width":0,"height":0,"gtype":"gage","title":"CH7","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":780,"wires":[]},{"id":"98a31661.a68f38","type":"change","z":"6a135c6c.f27414","name":"/cue/2/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/2/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":140,"wires":[["a275bf19.b4e4b"]]},{"id":"1d181b6.95dc9e5","type":"change","z":"6a135c6c.f27414","name":"/cue/3/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/3/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["a275bf19.b4e4b"]]},{"id":"e6fd5a94.9c0f68","type":"change","z":"6a135c6c.f27414","name":"/cue/4/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/4/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["a275bf19.b4e4b"]]},{"id":"799811bb.1f1b1","type":"change","z":"6a135c6c.f27414","name":"/cue/5/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/5/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["a275bf19.b4e4b"]]},{"id":"88d97278.dae26","type":"change","z":"6a135c6c.f27414","name":"/cue/6/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/6/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":540,"wires":[["a275bf19.b4e4b"]]},{"id":"5037678a.480c28","type":"change","z":"6a135c6c.f27414","name":"/cue/7/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/7/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":640,"wires":[["a275bf19.b4e4b"]]},{"id":"4fb07fd0.73fea","type":"change","z":"6a135c6c.f27414","name":"/cue/8/start","rules":[{"t":"set","p":"topic","pt":"msg","to":"/cue/8/start","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":740,"wires":[["a275bf19.b4e4b"]]}]